# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
ENV/

# SonarQube
.sonar/
scannerwork/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars.backup
override.tf
override.tf.json
.terraform.lock.hcl

# AWS CLI credentials (DO NOT COMMIT)
*.pem
*.key

# Docker
*.log
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/
